<h1>Редактировать станцию</h1>

<%= render 'form', railway_station: @railway_station %>

<%= link_to 'Посмотреть', [:admin, @railway_station], class: 'btn btn-success', type: "button" %>
<%= link_to 'Назад', admin_railway_stations_path, class: 'btn btn-success', type: "button" %>
