<p>
  <strong>Название станции</strong>
  <%= @railway_station.title %>
</p>

<%= link_to 'Редактировать', edit_admin_railway_station_path(@railway_station), class: 'btn btn-success', type: "button" %>
<%= link_to 'Назад', admin_railway_stations_path, class: 'btn btn-success', type: "button" %>
