<% if @carriage.coupe? %>
    <p>
      <strong>Количество нижних мест:</strong>
      <%= @carriage.number_bottom_place %></br>
      <strong>Количество верхних мест:</strong>
      <%= @carriage.number_top_place %>
    </p>
<% end %>