
<h1>Список вагонов</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>ID вагона</th>
    <th>Номер вагона</th>
    <th >Тип вагона</th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: "carriage", collection: @carriages %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить новый вагон', new_admin_train_carriage_path, class: 'btn btn-success', type: "button" %>
