<ul>
  <% @train.carriages.ordered(@train.sorting_carriage).each do |carriage| %>
      <li>
        <%= link_to "Вагон № #{carriage.number}", admin_carriage_path(carriage) %>
      </li>
  <% end %>
</ul>